<section id="1">
    <div class="mt-4">
            <h4>FREQUENTLY USED</h4>
            <div class="box box-4 mt-1" *ngFor="let val of frequently">
                <div class="box-content">
                    <h6>{{val.s_name}}</h6>
                    <p>{{val.properties}}</p>
                </div>
            </div>
            <!-- <div class="box box-4 mt-1">
                <div class="box-content">
                    <h6>Close Browser</h6>
                    <p>Triggers browser close action</p>
                </div>
            </div>
            <div class="box box-4 mt-1">
                <div class="box-content">
                    <h6>Set SMPT</h6>
                    <p>Triggers browser close action</p>
                </div>
            </div>      -->
                        
    </div>
</section>
<section id="1">
    <div class="mt-4">
            <h4>All Actions</h4>
            <div class="box box-4 mt-1" *ngFor="let val of allaction">
                <div class="box-content">
                    <h6>{{val.s_name}}</h6>
                    <p>{{val.properties}}</p>
                </div>
            </div>
            <!-- <div class="box box-4 mt-1">
                <div class="box-content">
                    <h6>Close Browser</h6>
                    <p>Triggers browser open action</p>
                </div>
            </div>
            <div class="box box-4 mt-1">
                <div class="box-content">
                    <h6>Set SMTP</h6>
                    <p>Triggers browser open action</p>
                </div>
            </div>      -->
                        
    </div>
</section>

