<div class="container-fluid">

      <div class="row mt-4">
       
          <div class="button-1">
              <div class = "btn-group">
                <button type = "button" class = "btn btn-default"><i class="fa fa-camera snap" aria-hidden="true"></i>&nbsp; &nbsp;Snap</button>
                <button type = "button" class = "btn btn-default"><i class="fa fa-caret-right snap1" aria-hidden="true"></i>&nbsp; &nbsp;Record</button>
                <button type = "button" class = "btn btn-default"><i class="fa fa-arrow-up snap2" aria-hidden="true"></i>&nbsp; &nbsp;Export</button>
              </div>
          </div>
       
      </div>
            
              
           

      <div class="row mt-4">
          <div class="box box-4">

            <div class="box-content">
              <!-- <div class="action">
                <h4>Actions</h4>
                <p>Drag new action</p>
              </div> -->

              
            

              <div class="accordion" id="accordionExample">
                
                <div class="card">
                  <div class="card-header left-bgg" id="headingOne">
                    <div class="action">
                      <h2 class="btn btn-link action" type="text" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Properties
                      </h2>
                    </div>
                    
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                    <h4>Set SMTP <i class="fa fa-trash trash" aria-hidden="true"></i> </h4>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header left-bgg" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        SERVER SITTINGS           ...................... <i class="fas fa-chevron-circle-down"></i>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <label>Host</label><br>
                        <div class="input-group">
                          <input class="form-control border-end-0 border" type="search" value="http://accubits.com" id="example-search-input">
                          
                      </div>
                    </div>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <label>Port</label><br>
                        <div class="input-group">
                          <input class="form-control border-end-0 border" type="search" value="534" id="example-search-input">
                          
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header left-bgg" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        CREDENTIALS           ...................... <i class="fas fa-chevron-circle-down"></i>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <label>User Id</label><br>
                        <div class="input-group">
                          <input class="form-control border-end-0 border" type="search" value="534" id="example-search-input">
                          
                      </div>
                    </div>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <label>Password</label><br>
                        <div class="input-group">
                          <input class="form-control border-end-0 border" type="search" value="534" id="example-search-input">
                          
                      </div>
                    </div>
                  </div>
                </div>
                <div class="div" style="padding: 40px;">
                  <button type="button" class="btn btn-secondary button1">RESET</button>
                  <button type="button" class="btn btn-primary button2">APPLY</button>
                </div>
                
              </div>

            </div>
            
            
          </div>
      </div>

</div>
