<div class="container-fluid">
    
    <div class="row mt-4">
       
        <div class="button-1">
            <div class = "btn-group">
              <button type = "button" class = "btn btn-default button-run"><i class="fa fa-caret-right snap1" aria-hidden="true"></i>&nbsp; &nbsp; Run</button>
              <button type = "button" class = "btn btn-default button-debug">Debug &nbsp; &nbsp;<i class="fa fa-angle-down snap2" aria-hidden="true"></i></button>
            </div>

            &nbsp; 
            <div class = "btn-group">
                
            <button type = "button" class = "btn btn-default button-stop"><i class="fa fa-stop snap3" aria-hidden="true"></i>&nbsp; &nbsp; Stop</button>
            </div>
           
        </div>
       
    </div>


</div>
